<%- contentFor('title') %>
<%- contentFor('body') %>

<style>
    .container {
        width: 500px;
        height: 300px;
        border: 1px solid blue;
    }



    body {
  font: 12px sans-serif;
}


canvas{

  width:1000px !important;
  height:600px !important;

}
</style>

<h1>hello</h1>