body {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

p,h3,h5,a {
  color:white;
  font-size: 10px;
  font-weight: bolder;
}



.card {
  background-color: #1A1A1B; 
  border: 3px solid #474748;
  color: white; 
  width: 45%;
  height: inherit;
  display: inline-flex;
  margin: 5px;
  }
  
.card img {
  width: 100%;
}

.card-body {
  height: 100%;
}

  
.card a {
  background-color: #1A1A1B;
  border: 2px solid #474748;
  font-size:10px;
  margin: 0px;
  padding: 0px;
}


.column {
  color: peru;
  width: 100%;
}


/*for the big screens*/
@media only screen and (min-width: 768px) {
  .card {
    width: 20%;
    }

  .card-body {
    height: 100%;
  }

  .card h5 {
    font-size: 15px;
    float: left;
  }
    
  .card a {
    font-size:20px;
    /* margin: 0px; */
  }

  .card .btn {
    width: inherit;
    height: inherit;
  }


  .column{
    margin:0 auto;
  }
}



/* id="contentBox" style="margin:0px auto; width:70%" */