
<div class="customSize">
  <div class="sizeChart">
    <h3>Compare Prices:</h3>
      <canvas class="chart" id="sizePrices"></canvas>
      <br>
      <form onsubmit="return false;" method="post" name="myForm">
        <label>Size</label>
        <input class="form" type="text" name="size" id="size"/>
        <input class="btn btn-block btn-lg btn-primary" type="submit" name="submit" onclick="updateChart()" />
      </form>
      </div>
      <div class="resellSites">

      </div>
      <br>
      <br>
  </div>